.bkgimg {
  background-image: url(./Toolsimg.png);
}

.thumbnail img {
  max-height: 50%;
  max-width: 50%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 768px;
  }
}

.lrgsc {
  margin-left: 50px;
}

@media (max-width: 768px) {
  .container {
    margin-left: 0px;
  }
}

footer img {
  height: 80px;
  float: right;
}
