.bkgimg {
  background-image: url(https://cdn.dribbble.com/users/56861/screenshots/922849/climb-pattern.png?compress=1&resize=400x300);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1080px;
}
